

@{ string site_mail = "aydemir_emre65@hotmail.com";
                string twitter_name = "SussuzBeyDeBe";
                string facebook_name = "emre.aydemir.01";
                string linkedin_name = "mr-aydemir";
                string github_name = "mr-aydemir";
                string instagram_name = "mr.aydmir";
                string author = "Emre Aydemir";
                string auth_date = "2021";
}

<footer class="footer text-faded text-center py-5">
    <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2021</p></div>
</footer>